<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" rel="stylesheet">
    <title>Product</title>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-menu">
            <li><h1><a href="/">Inventory App</a></h1></li>
            <li><h1><a href="/">Products</a></h1></li>
            <li><h1><a href="/addProduct">Add Product</a></h1></li>
            <li><h1><a href="/register">Register</a></h1></li>
            <% if (locals.name) { %>
                <li><h1><a href="/logout">Logout</a></h1></li>
            <% } else { %>
                <li><h1><a href="/login">Login</a></h1></li>
            <% } %>
        </ul>
    </nav>
    <div class="table-container">
        <%- body %>
    </div>
</body>
</html>
